.ant-pro-layout .ant-pro-layout-content {
  padding-bottom: 96px !important;
}

.ant-pro-layout-top {
  height: 100%;
}

.sticky-header {
  background: #000;
}

#basicLayout header {
  position: sticky;
  top: 0;
  left: 0;
}