<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yupi.mianshiya.mapper.ArticleFavourMapper">

    <resultMap id="BaseResultMap" type="com.yupi.mianshiya.model.entity.ArticleFavour">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="articleId" column="articleId" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,articleId,userId,createTime,updateTime
    </sql>

    <select id="listFavourArticleByPage" resultType="com.yupi.mianshiya.model.entity.Article">
        select a.id, a.title, a.content, a.summary, a.cover, a.tags, a.category, a.status,
               a.viewNum, a.thumbNum, a.favourNum, a.userId, a.editTime, a.createTime, a.updateTime
        from article a, article_favour af
        where a.id = af.articleId and af.userId = #{favourUserId} and a.isDelete = 0
        ${ew.customSqlSegment}
    </select>
</mapper>
