.post_main {
    width: 100%;
    min-height: 100%;
    .scroll_content {
        width: 100%;
        min-height: 100%;
        display: flex;
        justify-content: center;
        .post_list {
            width: 45%;
            min-height: 100%;
            margin: 0 16px;
            padding: 8px 16px;
            border-radius: 8px;
            background: #ffffff;
        }
        .advertisement {
            width: 16%;
            /*background: pink;*/
            position: relative;
            .advertisement_static {
                position: static;
            }
        }
    }
}